<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dingdang.shopcenter.biz.shop.dao.NavigationMapper" >
        <resultMap id="BaseResultMap" type="com.dingdang.shopcenter.biz.shop.dataobject.Navigation" >

        <id column="NavigationId" property="navigationId" jdbcType="BIGINT" />
                    <result column="NavigationName" property="navigationName" jdbcType="VARCHAR" />
                    <result column="NavigationImage" property="navigationImage" jdbcType="VARCHAR" />
                    <result column="NavigationUrl" property="navigationUrl" jdbcType="VARCHAR" />
                    <result column="NavigationDesc" property="navigationDesc" jdbcType="VARCHAR" />
                    <result column="NavigationSort" property="navigationSort" jdbcType="INTEGER" />
                    <result column="Remark" property="remark" jdbcType="VARCHAR" />
                    <result column="NavigationStatus" property="navigationStatus" jdbcType="TINYINT" />
                    <result column="Creator" property="creator" jdbcType="BIGINT" />
                    <result column="CreateDate" property="createDate" jdbcType="TIMESTAMP" />
                    <result column="Modifier" property="modifier" jdbcType="BIGINT" />
                    <result column="ModifyDate" property="modifyDate" jdbcType="TIMESTAMP" />
                    <result column="State" property="state" jdbcType="CHAR" />
            </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List" >
        NavigationId,
                NavigationName,
                NavigationImage,
                NavigationUrl,
                NavigationDesc,
                NavigationSort,
                Remark,
                NavigationStatus,
                Creator,
                CreateDate,
                Modifier,
                ModifyDate,
                State        
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dingdang.shopcenter.biz.shop.dataobject.NavigationExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from t_navigation
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from t_navigation
        where NavigationId = #{navigationId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        delete from t_navigation
        where NavigationId = #{navigationId,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.dingdang.shopcenter.biz.shop.dataobject.NavigationExample" >
        delete from t_navigation
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
                <insert id="insert" parameterType="com.dingdang.shopcenter.biz.shop.dataobject.Navigation" useGeneratedKeys="true" keyProperty="navigationId" >
            insert into t_navigation (
                            NavigationName,
                                        NavigationImage,
                                        NavigationUrl,
                                        NavigationDesc,
                                        NavigationSort,
                                        Remark,
                                        NavigationStatus,
                                        Creator,
                                        CreateDate,
                                        Modifier,
                                        ModifyDate,
                                        State            )

            values (
                            #{navigationName,jdbcType=VARCHAR},
                                        #{navigationImage,jdbcType=VARCHAR},
                                        #{navigationUrl,jdbcType=VARCHAR},
                                        #{navigationDesc,jdbcType=VARCHAR},
                                        #{navigationSort,jdbcType=INTEGER},
                                        #{remark,jdbcType=VARCHAR},
                                        #{navigationStatus,jdbcType=TINYINT},
                                        #{creator,jdbcType=BIGINT},
                                        #{createDate,jdbcType=TIMESTAMP},
                                        #{modifier,jdbcType=BIGINT},
                                        #{modifyDate,jdbcType=TIMESTAMP},
                                        #{state,jdbcType=CHAR}                        )
        </insert>
        <insert id="insertSelective" parameterType="com.dingdang.shopcenter.biz.shop.dataobject.Navigation" useGeneratedKeys="true" keyProperty="navigationId" >
            insert into t_navigation
            <trim prefix="(" suffix=")" suffixOverrides="," >
                                    <if test="navigationName != null" >
                        NavigationName,
                    </if>
                                    <if test="navigationImage != null" >
                        NavigationImage,
                    </if>
                                    <if test="navigationUrl != null" >
                        NavigationUrl,
                    </if>
                                    <if test="navigationDesc != null" >
                        NavigationDesc,
                    </if>
                                    <if test="navigationSort != null" >
                        NavigationSort,
                    </if>
                                    <if test="remark != null" >
                        Remark,
                    </if>
                                    <if test="navigationStatus != null" >
                        NavigationStatus,
                    </if>
                                    <if test="creator != null" >
                        Creator,
                    </if>
                                    <if test="createDate != null" >
                        CreateDate,
                    </if>
                                    <if test="modifier != null" >
                        Modifier,
                    </if>
                                    <if test="modifyDate != null" >
                        ModifyDate,
                    </if>
                                    <if test="state != null" >
                        State,
                    </if>
                            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides="," >
                                    <if test="navigationName != null" >
                        #{navigationName,jdbcType=VARCHAR},
                    </if>
                                    <if test="navigationImage != null" >
                        #{navigationImage,jdbcType=VARCHAR},
                    </if>
                                    <if test="navigationUrl != null" >
                        #{navigationUrl,jdbcType=VARCHAR},
                    </if>
                                    <if test="navigationDesc != null" >
                        #{navigationDesc,jdbcType=VARCHAR},
                    </if>
                                    <if test="navigationSort != null" >
                        #{navigationSort,jdbcType=INTEGER},
                    </if>
                                    <if test="remark != null" >
                        #{remark,jdbcType=VARCHAR},
                    </if>
                                    <if test="navigationStatus != null" >
                        #{navigationStatus,jdbcType=TINYINT},
                    </if>
                                    <if test="creator != null" >
                        #{creator,jdbcType=BIGINT},
                    </if>
                                    <if test="createDate != null" >
                        #{createDate,jdbcType=TIMESTAMP},
                    </if>
                                    <if test="modifier != null" >
                        #{modifier,jdbcType=BIGINT},
                    </if>
                                    <if test="modifyDate != null" >
                        #{modifyDate,jdbcType=TIMESTAMP},
                    </if>
                                    <if test="state != null" >
                        #{state,jdbcType=CHAR},
                    </if>
                            </trim>

        </insert>

        <insert id="insertBatch" parameterType="java.util.List" >
            insert into t_navigation (
                            NavigationName,
                                        NavigationImage,
                                        NavigationUrl,
                                        NavigationDesc,
                                        NavigationSort,
                                        Remark,
                                        NavigationStatus,
                                        Creator,
                                        CreateDate,
                                        Modifier,
                                        ModifyDate,
                                        State                        )
            values
            <foreach collection="list" item="item" index="index" separator="," >
                (
                                    #{item.navigationName,jdbcType=VARCHAR},
                                                    #{item.navigationImage,jdbcType=VARCHAR},
                                                    #{item.navigationUrl,jdbcType=VARCHAR},
                                                    #{item.navigationDesc,jdbcType=VARCHAR},
                                                    #{item.navigationSort,jdbcType=INTEGER},
                                                    #{item.remark,jdbcType=VARCHAR},
                                                    #{item.navigationStatus,jdbcType=TINYINT},
                                                    #{item.creator,jdbcType=BIGINT},
                                                    #{item.createDate,jdbcType=TIMESTAMP},
                                                    #{item.modifier,jdbcType=BIGINT},
                                                    #{item.modifyDate,jdbcType=TIMESTAMP},
                                                    #{item.state,jdbcType=CHAR}                
                )
            </foreach>
        </insert>
    
    <select id="countByExample" parameterType="com.dingdang.shopcenter.biz.shop.dataobject.NavigationExample" resultType="java.lang.Integer" >
        select count(*) from t_navigation
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <select id="countGroupByExample" parameterType="Map" resultType="Map" >
        select
        <foreach collection="groupByFields" item="item" index="index" separator="," >
            ${item}
        </foreach>
        ,
        <foreach collection="sumFields" item="item" index="index" separator="," >
            count(${item}) as ${item}
        </foreach>
        from t_navigation
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
        group by
        <foreach collection="groupByFields" item="item" index="index" separator="," >
            ${item}
        </foreach>
    </select>



    <select id="sumByExample" parameterType="Map" resultType="Map" >
        select
        <foreach collection="groupByFields" item="item" index="index" separator="," >
            ${item}
        </foreach>
        ,
        <foreach collection="sumFields" item="item" index="index" separator="," >
            sum(${item}) as ${item}
        </foreach>
        from t_navigation
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
        group by
        <foreach collection="groupByFields" item="item" index="index" separator="," >
            ${item}
        </foreach>
    </select>


    <update id="updateByExampleSelective" parameterType="map" >
        update t_navigation
        <set >
                            <if test="record.navigationId != null" >
                    NavigationId = #{record.navigationId,jdbcType=BIGINT},
                </if>
                            <if test="record.navigationName != null" >
                    NavigationName = #{record.navigationName,jdbcType=VARCHAR},
                </if>
                            <if test="record.navigationImage != null" >
                    NavigationImage = #{record.navigationImage,jdbcType=VARCHAR},
                </if>
                            <if test="record.navigationUrl != null" >
                    NavigationUrl = #{record.navigationUrl,jdbcType=VARCHAR},
                </if>
                            <if test="record.navigationDesc != null" >
                    NavigationDesc = #{record.navigationDesc,jdbcType=VARCHAR},
                </if>
                            <if test="record.navigationSort != null" >
                    NavigationSort = #{record.navigationSort,jdbcType=INTEGER},
                </if>
                            <if test="record.remark != null" >
                    Remark = #{record.remark,jdbcType=VARCHAR},
                </if>
                            <if test="record.navigationStatus != null" >
                    NavigationStatus = #{record.navigationStatus,jdbcType=TINYINT},
                </if>
                            <if test="record.creator != null" >
                    Creator = #{record.creator,jdbcType=BIGINT},
                </if>
                            <if test="record.createDate != null" >
                    CreateDate = #{record.createDate,jdbcType=TIMESTAMP},
                </if>
                            <if test="record.modifier != null" >
                    Modifier = #{record.modifier,jdbcType=BIGINT},
                </if>
                            <if test="record.modifyDate != null" >
                    ModifyDate = #{record.modifyDate,jdbcType=TIMESTAMP},
                </if>
                            <if test="record.state != null" >
                    State = #{record.state,jdbcType=CHAR},
                </if>
                    </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map" >
        update t_navigation
        set         NavigationId = #{record.navigationId,jdbcType=BIGINT},
                NavigationName = #{record.navigationName,jdbcType=VARCHAR},
                NavigationImage = #{record.navigationImage,jdbcType=VARCHAR},
                NavigationUrl = #{record.navigationUrl,jdbcType=VARCHAR},
                NavigationDesc = #{record.navigationDesc,jdbcType=VARCHAR},
                NavigationSort = #{record.navigationSort,jdbcType=INTEGER},
                Remark = #{record.remark,jdbcType=VARCHAR},
                NavigationStatus = #{record.navigationStatus,jdbcType=TINYINT},
                Creator = #{record.creator,jdbcType=BIGINT},
                CreateDate = #{record.createDate,jdbcType=TIMESTAMP},
                Modifier = #{record.modifier,jdbcType=BIGINT},
                ModifyDate = #{record.modifyDate,jdbcType=TIMESTAMP},
                State = #{record.state,jdbcType=CHAR}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.dingdang.shopcenter.biz.shop.dataobject.Navigation" >
        update t_navigation
        <set >
                            <if test="navigationName != null" >
                    NavigationName = #{navigationName,jdbcType=VARCHAR},
                  </if>                 <if test="navigationImage != null" >
                    NavigationImage = #{navigationImage,jdbcType=VARCHAR},
                  </if>                 <if test="navigationUrl != null" >
                    NavigationUrl = #{navigationUrl,jdbcType=VARCHAR},
                  </if>                 <if test="navigationDesc != null" >
                    NavigationDesc = #{navigationDesc,jdbcType=VARCHAR},
                  </if>                 <if test="navigationSort != null" >
                    NavigationSort = #{navigationSort,jdbcType=INTEGER},
                  </if>                 <if test="remark != null" >
                    Remark = #{remark,jdbcType=VARCHAR},
                  </if>                 <if test="navigationStatus != null" >
                    NavigationStatus = #{navigationStatus,jdbcType=TINYINT},
                  </if>                 <if test="creator != null" >
                    Creator = #{creator,jdbcType=BIGINT},
                  </if>                 <if test="createDate != null" >
                    CreateDate = #{createDate,jdbcType=TIMESTAMP},
                  </if>                 <if test="modifier != null" >
                    Modifier = #{modifier,jdbcType=BIGINT},
                  </if>                 <if test="modifyDate != null" >
                    ModifyDate = #{modifyDate,jdbcType=TIMESTAMP},
                  </if>                 <if test="state != null" >
                    State = #{state,jdbcType=CHAR}  </if>         </set>
        where NavigationId = #{navigationId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dingdang.shopcenter.biz.shop.dataobject.Navigation" >
        update t_navigation
        set
                    NavigationName = #{navigationName,jdbcType=VARCHAR},
                            NavigationImage = #{navigationImage,jdbcType=VARCHAR},
                            NavigationUrl = #{navigationUrl,jdbcType=VARCHAR},
                            NavigationDesc = #{navigationDesc,jdbcType=VARCHAR},
                            NavigationSort = #{navigationSort,jdbcType=INTEGER},
                            Remark = #{remark,jdbcType=VARCHAR},
                            NavigationStatus = #{navigationStatus,jdbcType=TINYINT},
                            Creator = #{creator,jdbcType=BIGINT},
                            CreateDate = #{createDate,jdbcType=TIMESTAMP},
                            Modifier = #{modifier,jdbcType=BIGINT},
                            ModifyDate = #{modifyDate,jdbcType=TIMESTAMP},
                            State = #{state,jdbcType=CHAR}        
        where NavigationId = #{navigationId,jdbcType=BIGINT}
    </update>
</mapper>